cloudpickle==2.2.1
lz4==4.3.2
numpy==1.26.4
pandas==2.1.4
pathlib==1.0.1
psutil==5.9.0
pyarrow==14.0.2
scikit-learn==1.7.2
scipy==1.11.4
xgboost==3.0.5
fastapi==0.119.0
joblib==1.2.0
uvicorn==0.37.0
pydantic==2.12.0
python-multipart==0.0.20
requests==2.31.0
tqdm==4.65.0
great_expectations==1.7.1